body{
    background-image: url('../img/backgrounds/pastel_blur1.jpg');;
}
#main-content{
    background-color: white;
    width: 100%;
    height: fit-content;
}
#catalog_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px 55px;
    flex-wrap: wrap;
    padding: 4% 5%;
    width: 90%;
    height: fit-content;
}
#item-wrapper{
    display: flex;
    width: 40%;
    min-height: 250px;
    max-height: 300px;
}
#item-wrapper a{
    display: table;
    width: 40%;
}
#item-wrapper img{
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    max-width: 80%;
}
#item-info{
    padding: 2%;
    width: 60%;
}
#item-name{
    font-size: 22px;
    font-weight: 600;
}
#current-price{
    font-size: 22px;
    font-weight: 600;
}