body {
    background-image: url('../img/backgrounds/pastel_blur6.jpg');
}

#page__content{
    width: 100%;
    min-height: fit-content;
}

#main-content{
    background-color: white;
    width: 100%;
    height: fit-content;
}
#catalog-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px 55px;
    flex-wrap: wrap;
    padding: 4% 5%;
    width: 90%;
    height: fit-content;
}
#item-wrapper{
    display: flex;
    width: 100%;
    min-height: 250px;
    max-height: 300px;
}
#item-wrapper a{
    width: 40%;
    height: 100%;
}
#item-wrapper img{
    display: block;
    width: auto;
    height: 80%;
    margin: 0 auto;
}
#item-info{
    padding: 2%;
    width: 60%;
}
#item-name, #current-price{
    font-size: 26px;
    font-weight: 600;
}