#welcome-screen{
    height: 100vh;
}
#welcome-text{
    text-align: right;
}
#categories{
    background-color: white;
    height: 35vh;
}
#categories p{
    padding: 10px 0;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
}
#categories-list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#categories-list a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 20px;
}
#categories-list span{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
#categories-list img{
    height: 60%;
    width: 60%;
}

#main-content{
    background-color: #89b9aaba;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
#main-table{
    display: block;
    background-color: white;
    width: 100%;
    height: fit-content;
}
#item__inner{
    border-top: 2px solid #cbc3c3;
    padding: 0 5%;
    min-height: 50vh;
}
#main-table #group-name{
    padding: 20px 0;
    font-size: 29px;
    font-weight: 800;
    height: fit-content;
}
#main-table a{
    width: 20%;
    height: 100%;
}
#item-list{
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    min-height: 40vh;
}
#item-list img{
    display: block;
    margin: auto;
    max-width: 55%;
    height: 55%;
}
#item-info {
    font-size: 18px;
    height: fit-content;
}
#item-price{
    color: #565656;
    font-size: 18px;
}